body {
    background-color: rgb(65, 65, 235);
}


.playerOptions > button{
    background-color: aqua;
    width: 100px;
    height: 50px;
}

#results {
    background-color: gold;
    height: 50px;
    width: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: large;
    font-weight: bold;
}